NODE_ENV=development

# Discord
DISCORD_TOKEN=

# Database
DATABASE_URL= # not needed if using docker compose
POSTGRES_PASSWORD=

# APIs
LASTFM_API_KEY=

WEBSITE_URL=https://samy.zoomhub.xyz
DISCORD_URL=https://samy.zoomhub.xyz/discord